name: CI
on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  context:
    name: Obtain run context
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{ steps.skip.outputs.should_skip }}
      skip-reason: ${{ steps.skip.outputs.reason }}
      skipped-by: ${{ steps.skip.outputs.skipped_by }}

    permissions:
      actions: read

    steps:
      - name: Skip duplicate actions
        id: skip
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          paths_ignore: '["**/readme.md"]'

  build:
    needs: context
    if: needs.context.outputs.should-skip != 'true' && !cancelled()
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - name: nim
            version: version-2-0
          - name: nimskull
            version: "*"
        target: [linux, macos, windows]
        arch: [amd64, arm64]
        include:
          - target: linux
            arch: amd64
            builder: ubuntu-22.04
          - target: linux
            arch: arm64
            builder: ubuntu-22.04-arm
          - target: macos
            arch: amd64
            builder: macos-15-intel
          - target: macos
            arch: arm64
            builder: macos-14
          - target: windows
            builder: windows-2022
          - target: windows
            arch: amd64
            winlib_arch: x86_64
          - target: linux
            arch: amd64
            compiler:
              name: nim
              version: version-2-0
            uploaddocs: true
        exclude:
          - target: windows
            arch: arm64

    name:
      ${{ matrix.target }} on ${{ matrix.arch }} (${{ matrix.compiler.name }}
      ${{ matrix.compiler.version }})
    runs-on: ${{ matrix.builder }}

    defaults:
      run:
        shell: bash
        working-directory: nim-sys

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          path: nim-sys

      - name: Setup GCC (Windows-only)
        if: runner.os == 'Windows'
        uses: bwoodsend/setup-winlibs-action@v1.16
        with:
          architecture: ${{ matrix.winlib_arch }}

      - name: Add Homebrew libraries to search path (macOS)
        if: runner.os == 'macOS'
        run: echo "DYLD_FALLBACK_LIBRARY_PATH=$(brew --prefix)/lib" >> "$GITHUB_ENV"

      - name: Setup Nim
        if: matrix.compiler.name == 'nim'
        uses: alaviss/setup-nim@0.1.1
        with:
          path: nim
          version: ${{ matrix.compiler.version }}
          architecture: ${{ matrix.arch }}

      - name: Setup nimskull
        id: nimskull
        if: matrix.compiler.name == 'nimskull'
        uses: nim-works/setup-nimskull@0.1.2
        with:
          nimskull-version: ${{ matrix.compiler.version }}

      - name: Fetch nimble source for nimskull
        if: matrix.compiler.name == 'nimskull'
        uses: actions/checkout@v6.0.0
        with:
          path: nimble
          repository: alaviss/nimble
          ref: nimskull

      - name: Install nimble for nimskull
        if: matrix.compiler.name == 'nimskull'
        run: |
          nim c -d:release -o:"$NIMSKULL_BIN/nimble" src/nimble.nim
          # Add nimble binary folder to PATH
          echo "$HOME/.nimble/bin" >> "$GITHUB_PATH"
        working-directory: nimble
        env:
          NIMSKULL_BIN: ${{ steps.nimskull.outputs.bin-path }}

      - name: Install dependencies
        run: |
          nimble install -y --depsOnly
          nimble install -y "https://github.com/disruptek/balls@>= 3.9.11 & < 4.0.0"

      - name: Run tests
        run: balls

      - name: Build docs
        shell: bash
        run: |
          branch=$GITHUB_REF
          branch=${branch##*/}
          for i in src/sys/*.nim src/sys/ioqueue/*.nim; do
            nim doc --project --outdir:htmldocs \
              "--git.url:https://github.com/$GITHUB_REPOSITORY" \
              "--git.commit:$GITHUB_SHA" \
              "--git.devel:$branch" \
              "$i"
          done
          # Ignore failures for older Nim
          cp htmldocs/{the,}index.html || true

      - name: Upload GitHub Pages artifact
        if: matrix.uploaddocs
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: nim-sys/htmldocs

  deploy:
    needs:
      - build
      - context
    if: |
      github.ref == 'refs/heads/master' &&
      success() ||
      (!cancelled() &&
       !failure() &&
       needs.context.outputs.skip-reason == 'skip_after_successful_duplicate')

    permissions:
      actions: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    name: Deploy docs to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Download github-pages artifact
        if: needs.context.outputs.skip-reason == 'skip_after_successful_duplicate'
        uses: actions/download-artifact@v6.0.0
        with:
          name: github-pages
          path: page
          run-id: ${{ fromJson(needs.context.outputs.skipped-by).id }}
          github-token: ${{ github.token }}

      - name: Upload pages artifact
        if: needs.context.outputs.skip-reason == 'skip_after_successful_duplicate'
        uses: actions/upload-artifact@v5.0.0
        with:
          name: github-pages
          path: page/artifact.tar
          retention-days: 1
          if-no-files-found: error

      - name: Deploy page
        id: deployment
        uses: actions/deploy-pages@v4.0.5

  passed:
    needs: build
    if: failure() || cancelled()
    name: All tests passed

    runs-on: ubuntu-latest
    steps:
      - run: exit 1
